body{
  font-family: 'Legacy', Garamond, serif;
  font-size: 16px;
  width: 100%;
  margin: 0%;
}

/* main text */
#text_center{
  margin-right: 22%;
  margin-left: 22%;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 50%;
  padding: 2% 2%;
  border: thick double #E96D63;
  border-radius: 2%;
  background-color: white;
}

#text_center h1{
	font-size: 1.6em;
	text-align: center;
	padding-bottom: 2%;
}

#text_center h2{
  font-size: 1.4em;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  padding-bottom: 2%;
}

#text_center h3{
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 2%;
}

#text_center p{
  text-indent: 4%;
  margin-top: 1.75%;
}

#original{
  font-size: 1.2em;
  font-weight: bold;
  color: #4D4DFF;
  margin-top: 1.75%;
}


/* close */

#close img{
  position: absolute;
  right: 5%;
  top: 2%;
}

#close img:hover{
  background-color: #85C1F5;
  border-radius: 2em;
}




/* fonts */
@font-face {
  font-family: 'MyWebFont';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff') format('woff'), /* Modern Browsers */
       url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}