body{
  font-family: 'Legacy', Garamond, serif;
  font-size: 16px;
  width: 100%;
  margin: 0px;
}

.nav{
  background: #F4BA70;
	border: 1px solid #E96D63;
	color: #4A789C;
	text-align: center;
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 1%;
	padding-right: 1%;
}

.nav li{
	display: inline;
	font-size: 20px;
	padding-left: 8px;
	padding-right: 8px;
}

.nav li a:hover {
  background-color: #85C1F5;
}


/* left side profile */

#profile{
	float: left;
	margin-left: 1.1%;
	border: 2px solid;
	border-radius: 25px;
	border-color: #E96D63;
	width: 20%;
	background-color: #4A789C;
}

#profile img{
	width: 90%;
	padding-left: 5%;
	padding-top: 5%;
}

#profile h3{
	text-align: center;
}

#profile p{
	padding-left: 5%;
	padding-right: 5%;
}

/* right side work */

#work{
	float: right;
	margin-right: 1.1%;
	border: 2px solid;
	border-radius: 25px;
	border-color: #E96D63;
	width: 20%;
	background-color: #4A789C;
}

#work h3{
	text-align: center;
}

#work ul{
	padding-left: 15%;
}

/* footer */

footer{
  background-color: #F4BA70;
  margin-top: 5%;
  padding: 0%
  left: 0px;
}

footer h5{
	text-align: center;
	padding: 0%;
	margin: 0%;
}

#info h5{
	margin: 0%;
}

#info a:hover{
  background-color: #85C1F5;
}

#content{
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 2%;
  padding: 2% 2%;
  border: 2px solid;
  border-radius: 25px;
  border-color: #E96D63;
}

/* fonts */
@font-face {
  font-family: 'MyWebFont';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff') format('woff'), /* Modern Browsers */
       url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}