

body{
	font-family: "Times New Roman", Times, serif;
	font-size: 20;
	margin-left: 100px;
	margin-right: 100px;
	color: blue;
	background-image:url('Chicago-Bears-Logo.png'); /*Can't figure out how to set this as background*/
}

h1, h2, h3, h4, h5 , h6{
	font-family: "Verdana";
	color: orange;

}

#whole {
	/*background-color: rgb(225,40,11);*/
}

#list1 {
	border: 3px dashed blue;
}


