h1{
	text-align:center;
	border: 5px solid red;
	color: black
}

h2{
	text-align: center;
	border: 5px ridge blue;
	padding: 10px 10px;
	background-color:rgba(255,255,255,0.8);
}

body{
	background-image: url("/Users/sebass/Desktop/DBC/phase_0_unit_1/unit1_projects/images/nfl-logo.png");
}

table.table{
	position:fixed;
	top:90px;
	left:10px;
	background-color: orange;
	float: left;
}

a:link {color:black;}    
a:visited {color:#black;} 
a:hover {color:red;}   
a:active {color:black;}  

.analysis{
	margin-left: 305px;

}

.image1{
	position: absolute;
	right:5px;
	top: 190px;
	z-index:-1;
}

#beast{
	position: absolute;
	right:180px;
	top: 190px;
	color: blue;
}

.image2{
	position: absolute;
	right:5px;
	top: 510px;
	z-index:-1;
}

#move_mountain{
	position: absolute;
	right:65px;
	top: 650px;
	padding: 0px;
	margin: 0px;
	color: red;
		
}

#clowney, #robinson{
	border: 5px ridge red;
	background-color:rgba(255,255,255,0.8);
	padding: 0px 5px;
}